{% extends 'base.html' %}

{% block header %}
    <h3>{% block title %}Add book{% endblock %}</h3>
{% endblock %}

{% block content %}
    <form style="width: 70%;" method="post">
        <div class="form-group">
            <label for="author">Author</label>
            <input class="form-control" name="author" id="author" value="{{ request.form['author'] }}" required>
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" name="title" id="title" value="{{ request.form['title'] }}" required>
        </div>
        <div class="form-group">
            <label for="body">Description</label>
            <textarea class="form-control" rows="6" name="description" id="description">{{ request.form['description'] }}</textarea>
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Add">
        </div>
    </form>
{% endblock %}