{% extends 'base.html' %}
{% block header %}
    <h2 style="margin-bottom: 15px">{% block title %}History{% endblock %}</h2>
{% endblock %}

{% block content %}
    {% for book in books %}
        <article class="book">
            <h2>{{ book['title'] }}</h2>
            <p> {{ book['author'] }}</p>
            <p><i> Rent date: {{ book['rent_date'] }}</i></p>
            <p><i> Return date: {{ book['return_date'] }} </i></p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
