{% block header %}
    <h3>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h3>
{% endblock %}

{% block content %}
    <form style="width: 70%;" method="post" action="{{ url_for('blog.update', id=post['id']) }}">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required>
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" rows="10" name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Save">
            <a class="btn btn-danger" href="{{ url_for('blog.delete', id=post['id']) }}" role="button">Delete</a>
        </div>
    </form>
{% endblock %}
